In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("C:\\Users\\gajendra singh\\OneDrive\\Desktop\\pandas\\IMDB Dataset.csv")

In [3]:
print(df.head())
print(df.info())

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   review     50000 non-null  object
 1   sentiment  50000 non-null  object
dtypes: object(2)
memory usage: 781.4+ KB
None

In [4]:
df['review'][3]

"Basically there's a family where a little boy (Jake) thinks there's a zombie in his closet & his parents are fighting all the time.<br /><br />This movie is slower than a soap opera... and suddenly, Jake decides to become Rambo and kill the zombie.<br /><br />OK, first of all when you're going to make a film you must Decide if its a thriller or a drama! As a drama the movie is watchable. Parents are divorcing & arguing like in real life. And then we have Jake with his closet which totally ruins all the film! I expected to see a BOOGEYMAN similar movie, and instead i watched a drama with some meaningless thriller spots.<br /><br />3 out of 10 just for the well playing parents & descent dialogs. As for the shots with Jake: just ignore them."

In [5]:
df['review'][3].lower()

"basically there's a family where a little boy (jake) thinks there's a zombie in his closet & his parents are fighting all the time.<br /><br />this movie is slower than a soap opera... and suddenly, jake decides to become rambo and kill the zombie.<br /><br />ok, first of all when you're going to make a film you must decide if its a thriller or a drama! as a drama the movie is watchable. parents are divorcing & arguing like in real life. and then we have jake with his closet which totally ruins all the film! i expected to see a boogeyman similar movie, and instead i watched a drama with some meaningless thriller spots.<br /><br />3 out of 10 just for the well playing parents & descent dialogs. as for the shots with jake: just ignore them."

In [6]:
df['review'] = df['review'].str.lower()

In [7]:
df

                                                  review sentiment
0      one of the other reviewers has mentioned that ...  positive
1      a wonderful little production. <br /><br />the...  positive
2      i thought this was a wonderful way to spend ti...  positive
3      basically there's a family where a little boy ...  negative
4      petter mattei's "love in the time of money" is...  positive
...                                                  ...       ...
49995  i thought this movie did a down right good job...  positive
49996  bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  i am a catholic taught in parochial elementary...  negative
49998  i'm going to have to disagree with the previou...  negative
49999  no one expects the star trek movies to be high...  negative

[50000 rows x 2 columns]

In [8]:
import re
def remove_html_tags(text):
    pattern = re.compile('<.*?>')
    return pattern.sub(r'', text)

In [9]:
text = "<html><body><p> Movie </p><p> Click here to <a href = 'http://google.com'>download</a></p>"

In [10]:
remove_html_tags(text)

' Movie  Click here to download'

In [11]:
# now we remove tags from IMDB Dataset

df['review'] = df['review'].apply(remove_html_tags)

In [12]:
df

                                                  review sentiment
0      one of the other reviewers has mentioned that ...  positive
1      a wonderful little production. the filming tec...  positive
2      i thought this was a wonderful way to spend ti...  positive
3      basically there's a family where a little boy ...  negative
4      petter mattei's "love in the time of money" is...  positive
...                                                  ...       ...
49995  i thought this movie did a down right good job...  positive
49996  bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  i am a catholic taught in parochial elementary...  negative
49998  i'm going to have to disagree with the previou...  negative
49999  no one expects the star trek movies to be high...  negative

[50000 rows x 2 columns]

# Remove Punctuation

In [13]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [14]:
exclude = string.punctuation

In [15]:
def remove_punc(text):
    for char in exclude:
        text = text.replace(char, '')
    return text

In [16]:
text = 'string. With. Punctuation?'

In [17]:
print(remove_punc(text))

string With Punctuation

In [18]:
df = pd.read_csv("C:\\Users\\gajendra singh\\OneDrive\\Desktop\\pandas\\twitter_sentiment_analysis.csv")

In [19]:
df.head()

      id                                              tweet
0  31963  #studiolife #aislife #requires #passion #dedic...
1  31964   @user #white #supremacists want everyone to s...
2  31965  safe ways to heal your #acne!!    #altwaystohe...
3  31966  is the hp and the cursed child book up for res...
4  31967    3rd #bihday to my amazing, hilarious #nephew...

In [20]:
import string
exclude = string.punctuation

In [21]:
def remove_punc1(text):
    return text.translate(str.maketrans('' , '', exclude))

In [22]:
df['tweet'] = df['tweet'].apply(remove_punc1)

In [23]:
df

          id                                              tweet
0      31963  studiolife aislife requires passion dedication...
1      31964   user white supremacists want everyone to see ...
2      31965  safe ways to heal your acne    altwaystoheal h...
3      31966  is the hp and the cursed child book up for res...
4      31967    3rd bihday to my amazing hilarious nephew el...
...      ...                                                ...
17192  49155  thought factory leftright polarisation trump u...
17193  49156  feeling like a mermaid ð hairflip neverread...
17194  49157  hillary campaigned today in ohioomg amp used w...
17195  49158  happy at work conference right mindset leads t...
17196  49159  my   song so glad free download  shoegaze newm...

[17197 rows x 2 columns]

# Spelling correction

In [24]:
from textblob import TextBlob

In [25]:
incorrect_text = "ceertain condition seveal ggenration wee arre thee mosst adbance machineew."

textBlb = TextBlob(incorrect_text)
textBlb.correct().string

'certain condition several generation wee are thee most advance machine.'

# Removing stopWords

In [26]:
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords

[nltk_data] Downloading package stopwords to C:\Users\gajendra
[nltk_data]     singh\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [27]:
STOPWORDS = set(stopwords.words('english'))

In [28]:
STOPWORDS

{'a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 'her',
 'here',
 'hers',
 'herself',
 'him',
 'himself',
 'his',
 'how',
 'i',
 'if',
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it's",
 'its',
 'itself',
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'no',
 'nor',
 'not',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she's",
 'should',
 "should've",
 'shouldn',
 "shouldn't",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 'were',
 'weren',
 "weren't",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 "you're",
 "you've",
 'your',
 'yours',
 'yourself',
 'yourselves'}

In [29]:
# manually work
def remove_stopwords(text):
    new_text = []
    
    for word in text.split():
        if word in set(stopwords.words('english')):
            new_text.append('')
            
        else:
            new_text.append(word)

    x = new_text[:]
    new_text.clear()
    return "".join(x)

remove_stopwords('probabaly my all-time favourite movie,  STROY OF SELFISHNESS, SACRIFICE.')

'probabalyall-timefavouritemovie,STROYOFSELFISHNESS,SACRIFICE.'

In [30]:
df['tweet'] = df['tweet'].apply(remove_stopwords)

In [31]:
df['tweet']

0        studiolifeaisliferequirespassiondedicationwill...
1        userwhitesupremacistswanteveryoneseenewâbird...
2              safewayshealacnealtwaystohealhealthyhealing
3        hpcursedchildbookreservationsalreadyyesðð...
4        3rdbihdayamazinghilariousnepheweliahmiruncleda...
                               ...
17192    thoughtfactoryleftrightpolarisationtrumpuselec...
17193    feelinglikemermaidðhairflipneverreadyformal...
17194    hillarycampaignedtodayohioomgampusedwordslikea...
17195    happyworkconferencerightmindsetleadscultureofd...
17196          songgladfreedownloadshoegazenewmusicnewsong
Name: tweet, Length: 17197, dtype: object

In [32]:
sent1 = "I am going to delhi"
sent1.split()

['I', 'am', 'going', 'to', 'delhi']

In [33]:
# sentence tokenization 
sent2 = " I am going to delhi. I will stay there for 3 days. Let\'s hope the trip to be great.'"
sent2.split('.')

[' I am going to delhi',
 ' I will stay there for 3 days',
 " Let's hope the trip to be great",
 "'"]

In [34]:
sent3 = "I am going to delhi! "
sent3.split()

['I', 'am', 'going', 'to', 'delhi!']

In [35]:
import re 

sent3 = " I am going to delhi"
tokens = re.findall("[\w']+", sent3)
sent3

' I am going to delhi'

In [36]:
text = ''' Lorem Ispum is simply a dummy test of the printing industry?
lorem this is my book , 
i see a point.'''

In [37]:
from nltk.tokenize import word_tokenize, sent_tokenize

In [38]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to C:\Users\gajendra
[nltk_data]     singh\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [39]:
sent1 = "I am going to delhi!"
word_tokenize(sent1)

['I', 'am', 'going', 'to', 'delhi', '!']

In [40]:
sent2 = 'I have 2 Ph.d in A.I'
sent3 = 'We are here to help! mail us at nks@gmail.com '
sent4 = 'A 5km ride cost $10.44'

In [41]:
word_tokenize(sent4)

['A', '5km', 'ride', 'cost', '$', '10.44']

# Stemming

In [42]:
from nltk.stem.porter import PorterStemmer

In [43]:
ps = PorterStemmer()

def stem_words(text):
    return " ".join([ps.stem(word) for word in text.split()])

In [44]:
sample= "walk walks walking walked"
stem_words(sample)

'walk walk walk walk'

In [45]:
df = pd.read_csv("C:\\Users\\gajendra singh\\OneDrive\\Desktop\\pandas\\hotel.csv")

In [46]:
df.head()

                                              Review  Rating
0  nice hotel expensive parking got good deal sta...       4
1  ok nothing special charge diamond member hilto...       2
2  nice rooms not 4* experience hotel monaco seat...       3
3  unique, great stay, wonderful time hotel monac...       5
4  great stay great stay, went seahawk game aweso...       5

In [47]:
df['Review'] = df['Review'].str.lower()

In [48]:
df['Review'] = df['Review'].apply(remove_html_tags)

In [49]:
df['Review'] = df['Review'].apply(remove_punc1)

In [ ]:
df['Review'] = df['Review'].apply(remove_stopwords)

In [ ]:
import seaborn as sns 
import matplotlib.pyplot as plt
from nltk.sentiments.vader import SentimentIntensityAnalyzer
sentiments = SentimentIntensityAnalyzer()

In [ ]:
rating = df['Rating'].value_counts()
number = ratings.index
quantity = ratings.values

custom_colors = ["skyblue", 'yellowgreen', 'tomato', 'blue', 'red']
plt.figure(figsize=(5,5))
central

In [ ]:
sentimnets = SentimentIntensityAnalyzer()
df['Positive'] = [sentiments.polarity_scores(i)['pos'] for i in df['Review']]
df['Negative'] = [sentiments.polarity_scores(i)['neg'] for i in df['Review']]
df['Neutral'] = [sentiments.polarity_scores(i)['neu'] for i in df['Review']]
print(df.head())

In [ ]:
x = sum(df['Positive'])
y = sum(df['Negative'])
z = sum(df['Neutral'])

def sentiment_score(a, b, c):
    if(a>b) and (a>c):
        print("Positive 😘")